@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Italic.eot"),
    url("../../fonts/CeraPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("CeraPro-Italic.woff") format("woff"),
    url("CeraPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Regular.eot"),
    url("../../fonts/CeraPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Regular.woff") format("woff"),
    url("../../fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-BlackItalic.eot"),
    url("../../fonts/CeraPro-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-BlackItalic.woff") format("woff"),
    url("../../fonts/CeraPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Light.eot"),
    url("../../fonts/CeraPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Light.woff") format("woff"),
    url("../../fonts/CeraPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-BoldItalic.eot"),
    url("../../fonts/CeraPro-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-BoldItalic.woff") format("woff"),
    url("../../fonts/CeraPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Black.eot"),
    url("../../fonts/CeraPro-Black.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Black.woff") format("woff"),
    url("../../fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Medium.eot"),
    url("../../fonts/CeraPro-Medium.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Medium.woff") format("woff"),
    url("../../fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Bold.eot"),
    url("../../fonts/CeraPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Bold.woff") format("woff"),
    url("../../fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-Thin.eot"),
    url("../../fonts/CeraPro-Thin.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-Thin.woff") format("woff"),
    url("../../fonts/CeraPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-MediumItalic.eot"),
    url("../../fonts/CeraPro-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-MediumItalic.woff") format("woff"),
    url("../../fonts/CeraPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-LightItalic.eot"),
    url("../../fonts/CeraPro-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-LightItalic.woff") format("woff"),
    url("../../fonts/CeraPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../../fonts/CeraPro-ThinItalic.eot"),
    url("../../fonts/CeraPro-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/CeraPro-ThinItalic.woff") format("woff"),
    url("../../fonts/CeraPro-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
