/* RESET BODY */
body {
    margin: 0;
}

/* CONTAINER */
.container {
    margin: 0 auto;
    max-width: 1400px; 
    padding: 0 1em;
} 

/* MEDIA QUERIES */ 

/* RESPONSIVE TYPOGRAPHY */
//SMALL
body { font-size: 87.5%; }

@media (min-width: $breakpoint-small) {
    body { font-size: 100%; }  
}

@media (min-width: $breakpoint-large) {
    body { font-size: 112.5%;  }  
}