/* SITE-HEADER SITE-NAV */
.site-header .site-nav {

    .menu-button {
        position: absolute;
        top: .75em;
        right: .75em;
        color: $color-gray;
        margin: 0;
        padding: 12px 12px 0 12px;
        font-size: inherit;
        line-height: 1;
        z-index: 20;
        cursor: pointer;
        background-color: transparent;
        border: none;

        svg {
            fill: $color-gold;

            rect {
                transition: .3s all ease-out;
            }
        }

    }

    ul {
        margin: 0;
        padding: 0 2em;
        list-style: none;
        background-color: $color-blk;
        position: fixed;
        top: 0;
        right: 0;
        width: fit-content;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        text-align: left;
        transform: translate(100%, 0);
        transition: .3s all ease-out;
        z-index: 1;
    }

    li {
        font-size: clamp(1em, 1vw, 2vw);
        // min-width: 20vw;
        transform: translate(10%, 0);
        transition: .3s all ease-out .3s;
        opacity: 0;
    }

    #menubar-top,
    #menubar-middle,
    #menubar-bottom {
        transform-origin: center;
    }


    &[data-navstate="open"] {

        .menu-button {
            position: fixed;
        }

        #menubar-top {
            transform: translate(7px, 7px) rotate(-45deg);
        }

        #menubar-middle {
            opacity: 0;
        }

        #menubar-bottom {
            transform: translate(0px, -4px) rotate(45deg);
        }

        ul {
            transform: translate(0, 0);
        }

        li {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

}


/* FOOTER SITE-NAV */
.site-footer .site-nav {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
    }

    a {
        display: inline-block;
        padding: 1em;
        line-height: 1;
    }
}