/* SITE STRUCTURE */

.site-header {
    position: absolute;
    width: 100%;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // place-items: center;

    a {
        color: $color-gold;
        text-decoration: none;
    }

    h1 {
        font-size: 1.5em;
        margin: 0;
    }

    .site-id {
        display: flex;
        align-items: center;
    }

    .logo {
        width: 150px;
        margin-right: .5em;
    }


}

/* SITE FOOTER */
.site-footer {
    // background-image: url("../../img/yellow.png");
    background-size: cover;
    // background-color: #f8cf20;
    background-color: #333;
    display: flex;
    padding: 1em;
    justify-content: center;

    a {
        color: white;
        text-decoration: none;
    }
}



section {
    padding: 0;
    // min-height: 100vh;
    // display: flex;
    // align-items: center;
}


/* HERO SECTION */
.hero {
    // background-color: black;
    color: #333;
    padding: 6em 0;
    min-height: 100vh;
    display: flex;
    align-items: center;

    // .container {
    //     width: 100%;
    // }

    h1 {
        color: #333;
        margin-bottom: .25em;
    }

    p {
        margin: 1em 0;
    }
}