/* BASE TEXT COLORS */
body {
    color: $color-text-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $color-text-headings;
}

/* BASE TEXT FONTS */
body {
    font-family: $font-family-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-family-sans;
    font-weight: 700;
    font-style: normal;
    color: $color-gray;
}

/* BASE TYPOGRAPHY */
body {
    font-size: 100%;
    line-height: 1.4;
    color: $color-gray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0 0 .5em 0;
}

/* TRADITIONAL TYPOGRAPHIC SCALE */
h1 {
    font-size: 3em;
    line-height: 1;
}

h2 {
    font-size: 2.25em;
    line-height: 1.1;
}

h3 {
    font-size: 1.5em;
    line-height: 1.2;
}

/* LIMIT NUMBER OF CHARACTERS PER LINE */
p {
    max-width: 40em;
}

/* LINKS */
a {
    color: $color-gray;
    text-decoration: none;

    &:hover {
        color: $color-gold;
        text-decoration: underline;
    }
}

/* HORIZONTAL LINE */
hr {
    border: 0;
    height: 1px;
    background-color: rgba(0, 0, 0, .1);
    margin: 3em 0;
}

/* TYPE SPECIMEN */
.headline {
    font-size: 4em;
    font-weight: 700;
    line-height: 1;
    margin: 0;
    color: $color-accent;
}

.subheadline {
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1.1;
    color: $color-lightgrey;
    margin: .25em 0;
}

/* SECTION HEADING */
.section-heading {
    font-size: 1em;
    font-family: $font-family-sans;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 3em 0;
}